torch==2.1.0
torchvision==0.16.0
opencv-python==4.7.0.72
numpy==1.24.3
pillow==9.5.0

ultralytics==8.0.196  # For YOLO
transformers==4.35.2  # For RT-DETRv2


matplotlib==3.7.1  # For color generation
streamlit==1.28.0  # If using Streamlit interface
